<div id='wrapper' class='card gray col m12'>
    <h1>Web Scraping Madness</h1>
    <h2><i>Latest News around the world of Sports</i></h2>
    <div id='col s3'></div>
</div>
<div class='row'>
    <div class='col s6'></div>
    <div class='col s8 left-align'>
        {{#each articles}}
        <div class='card'>
            <div class='card-header'>
                <a href='{{link}}' target='_blank' class='title'>{{title}}</a>
            </div>
            <div class='card-body'>
                <img src='{{image}}' id='articleImage' alt='image'>
                <p class='card-text'>{{summary}}</p>
                <a href='/save' class='btn btn-dark ml-auto'>Save this Article</a>
                <a href='/comment' class='btn btn-dark ml-auto'>Comment</a>
            </div>
            <div id='comments'>{{comments}}</div>
        </div>
        {{/each}}
    </div>
</div>